<div>
    <h1>Adventure Begins Here!</h1>
    <div ng-controller="Game">
        
        <h4>The Adventure lays ahead:</h4>
        <textarea id="adventureOutput" class="form-control" rows="6" >output: {{output}}, testing: {{testing}}</textarea><br />
        
        <div class="radio">
            <label>
                <input type="radio" name="language" id="langEnUS" value="en-us" checked="checked">
                English US
            </label>
            <label>
                <input type="radio" name="language" id="langEnGB" value="en-gb">
                English UK
            </label>
        </div>
        <form>
            <div class="form-group">
            <span class="input-group-btn">
                <h4>Commands: <button type="button" class="btn btn-default" onclick="start()">Speak</button><button type="submit" class="btn btn-default" ng-click="wiz()">Submit</button></h4>
                <textarea id="adventureInput" ng-model="input" class="form-control" rows="1" ></textarea>
            </span>
            </div>
        </form>
    </div>
</div>

<!--<div>
    
    <h1>Adventure Begins Here!</h1>
    <div ng-controller="Game">
        
        <h4>The Adventure lays ahead:</h4>
        <p>{{output}}</p>
        <p>{{testing}}</p>

        <form>

             <div class="form-group">
                <label for="input">Input</label>
                <textarea class="form-control" id="input" ng-model="input"></textarea>
              </div>

            <button type="submit" class="btn btn-primary" ng-click="wiz()">Submit</button>
        </form>

        
    </div>
</div>-->