<div>
    <div ng-include="'app/views/navbar.html'"></div>
    <h1>Adventure Begins Here!</h1>
    <div ng-controller="Game">
        
        <h4>The Adventure lays ahead:</h4>
        <p>{{output}}</p>
        <p>{{testing}}</p>

        <form>

             <div class="form-group">
                <label for="input">Input</label>
                <textarea class="form-control" id="input" ng-model="input"></textarea>
              </div>

            <button type="submit" class="btn btn-primary" ng-click="wiz()">Submit</button>
        </form>

        
    </div>
</div>