<!--Navbar for the site, links to the text adventure, sign up login and logout-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">The Wizards Unicorn</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" uib-collapse="!isCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <!--The following links run a function to check if the user is logged in and either show 
                or hide the links depending on if it's contextually relevant for them to be displayed-->
                <li><a href="/adventure" ng-show="Auth.isLoggedIn()">Adventure</a></li>
                <li><a href="/signup" ng-hide="Auth.isLoggedIn()">Signup</a></li>
                <li><a href="/login" ng-hide="Auth.isLoggedIn()">Login</a></li>
                <!--Once logout is clicked a function is run to destroy the session-->
                <li><a ng-click="logout()" ng-show="Auth.isLoggedIn()">Logout</a></li>
                
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>


