
<div>
    <div ng-include="'app/views/navbar.html'"></div>
    <h1>Voice to text test page</h1>
    <div>
        <div class="radio">
            <label>
                <input type="radio" name="language" id="langEnUS" value="en-us" checked="checked">
                English US
            </label>
            <label>
                <input type="radio" name="language" id="langEnGB" value="en-gb">
                English UK
            </label>
        </div>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" onclick="start()">Speak</button>
        </span>
        <textarea id="output" class="form-control" rows="6" ></textarea>
    </div>
</div>

